.header {
  /* background-color: blanchedalmond; */
  font-family: "Noto Serif", serif;
  width: 1680px;
  height: 45px;
  margin-top: 39px;
  /* margin-left: 120px; */
  display: flex;
}
.logo {
  width: 100px;
}
.navmenu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 550px;
  margin-top: 10px;
}

.account {
  display: flex;
  margin-left: 500px;
  margin-top: 10px;
  gap: 10px;
}

.account img {
  width: 20px;
  height: 20px;
}

.search {
  margin-top: 10px;
  margin-left: 30px;
}

.line {
  margin-left: 10px;
  width: 1px;
  background: #f1e0dd;
}

.main {
  max-width: 1680px; /* задал ширину блока */
  margin: auto; /* выровнял его по центру страницы*/
}

.backimage {
  position: absolute;
  z-index: -20;
}

.background {
  display: flex;
  margin-top: 30px;
  /* background: url(./images/main-banner.png); */
  max-width: 1680px;
  height: 1000px;
}

.headername {
  font-family: "Noto Serif";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  margin-left: 170px;
  margin-top: 330px;
}

.button {
  background: #ff715b;
  width: 200px;
  height: 60px;
  font-family: "Noto Serif", serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 0px;
}

.whitebox {
  display: flex;
  width: 1185px;
  height: 150px;
  background: white;
  margin-top: 360px;
  margin-left: 325px;

  box-shadow: 0px 10px 30px 5px #dbc8c533;
}

.button2 {
  margin-top: 45px;
  margin-left: 100px;
  background: #ff715b;
  width: 200px;
  height: 65px;
  font-family: "Noto Serif", serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 0px;
}

.destinations {
  font-family: "Product Sans";
  color: #a79997;
  font-size: 18px;
  line-height: 30px;
  margin-left: 50px;
  margin-top: 50px;
  font-weight: normal;
}

.egypt {
  color: #ff715b;
  font-family: "Noto serif", serif;
}

.underline {
  border-bottom: 1px solid #a79997;
  width: 230px;
}

.egypt img {
  margin-left: 115px;
}

.checkin {
  font-family: "Product Sans";
  color: #a79997;
  font-size: 18px;
  line-height: 30px;
  margin-left: 50px;
  margin-top: 50px;
  font-weight: normal;
}

.date {
  color: #ff715b;
  font-family: "Noto serif", serif;
}

.date img {
  margin-left: 100px;
}

.price {
  font-family: "Product Sans";
  color: #a79997;
  font-size: 18px;
  line-height: 30px;
  margin-left: 50px;
  margin-top: 50px;
  font-weight: normal;
}

.dollar {
  color: #ff715b;
  font-family: "Noto serif", serif;
}

.dollar img {
  margin-left: 95px;
}

.arrows {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button-arrow {
  width: 50px;
  height: 50px;
  background: #ff715b;
  border: 0px;
}

.button-arrow2 {
  width: 50px;
  height: 50px;
  background: white;
  margin-left: 30px;
  border: 1px solid #a79997;
}

.line2 {
  border-bottom: 1px solid #a79997;
  width: 234px;
  margin-left: 30px;
}

.number {
  margin-left: 20px;
  font-family: "Noto Serif", serif;
  color: #ff715b;
  font-weight: bold;
  font-size: 20px;
}
