.header {
  /* background-color: blanchedalmond; */
  font-family: "Noto Serif", serif;
  width: 1680px;
  height: 45px;
  margin-top: 39px;
  margin-left: 120px;
  display: flex;
}
.logo {
  width: 100px;;
}
.navmenu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 550px;
  margin-top: 10px;
}

.account {
  display: flex;
  margin-left: 500px;
  margin-top: 10px;
  gap: 10px;
}

.account img {
  width: 20px;
  height: 20px;
 
}

.search {
  margin-top: 10px;
  margin-left: 30px;
}

/* .line {
  
} */