.header {
  /* background-color: blanchedalmond; */
  font-family: "Noto Serif", serif;
  width: 1680px;
  height: 45px;
  margin-top: 39px;
  margin-left: 120px;
  display: flex;
}
.logo {
  width: 100px;
}
.navmenu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 550px;
  margin-top: 10px;
}

.account {
  display: flex;
  margin-left: 500px;
  margin-top: 10px;
  gap: 10px;
}

.account img {
  width: 20px;
  height: 20px;
}

.search {
  margin-top: 10px;
  margin-left: 30px;
}

.line {
  margin-left: 10px;
  width: 1px;
  background: lightgray;
}

.main {
}

.background {
  display: flex;
  margin-left: 120px;
  margin-top: 30px;
  background: url(/images/main-banner.png);
  max-width: 1680px;
  height: 1000px;
}

.headername {
  /* display: flex;
  justify-content: flex-start; */
  font-size: 50px;
  font-family: "Noto Serif";
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  margin-left: 170px;
  margin-top: 330px;
  max-width: 1000px;
  max-height: 100px;
}



.button {
  background: rgb(243, 112, 60);
  width: 200px;
  height: 60px;
  font-family: "Noto Serif", serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 0px;
}

.whitebox {
  width: 1000px;
  height: 150px;
  background: white;
  margin-top: 360px;
  margin-left: 510px;
  /* border: 2px solid black; */
}

.button2 {
  margin-top: 45px;
  margin-left: 750px;
  background: rgb(243, 112, 60);
  width: 200px;
  height: 65px;
  font-family: "Noto Serif", serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 0px;
}

.button-arrow {
  width: 50px;
  height: 50px;
  background: rgb(243, 112, 60);
  margin-left: 120px;
  margin-top: 20px;
  border: 0px;
}

.button-arrow2 {
  width: 50px;
  height: 50px;
  background: white;
  margin-left: 200px;
  margin-top: 20px;
  border: 1px solid lightgray;
}