.header {
  background-color: blanchedalmond;
  font-family: "Noto Serif", serif;
  width: 1680px;
  height: 57px;
}
.logo {
  width: 174px;
  height: 57px;
  margin-left: 120px;
  margin-top: 39px;
}
.navmenu {
  display: flex;
  justify-content: center;
  margin-top: 51.61px;
  margin-left: 100px;
}

.account {
  display: flex;
  justify-content: end;
  margin-left: 1000px;
}
